header{
    text-align: center;
     color: chartreuse;
}

body{
    background-color: darkcyan;
}

.nav_{
    justify-content: space-between;
    padding-left:25px;
    padding-right: 9px;
    margin-bottom: 50px;
    background-color: darkcyan ;
    display:flex;
    width:100%;
    position: fixed;
}

.nav_ .JuLogo{
    float: left;
    color: chartreuse;
    padding-left:45px;
    margin-right: 250px;
}

.nav_ ul{
    display: flex;
    padding-right: 75px;
    list-style: none;
    padding-top:15px;
}

nav ul li{
    margin-left: 20px;
    flex-direction: left;
    padding-top: 5px;
}

nav ul li a{
    text-decoration: none;
    margin-left:20px;
    color: chartreuse;
}

nav ul li:hover a {
    color: aquamarine;
}

.Home_{
    margin-top:125px;
    background-color: white;
    width: 80%;
    align-items: center;
    height:70vh;
    margin-left:45px;
    
}

.Home_ img{
    width:40%;
    border-color:  chartreuse;
    border-width: 2px;
    border-style: dashed;
    float: right;
    margin-right:65px;
    margin-top: 20px;
}

.Home_ .Klop_descr{
    color:green;
    margin-left: 20px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


.About_{
    height:70vh;
    margin-left:45px;
    background-color: white;
    
     width: 80%;
     align-items: center;
     
      color:green;
}
